<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">PrepareForInterview</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="search">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <button class="btn btn-outline-success signin" onclick="document.getElementById('id01').style.display='block'" style="width:auto;" routerLink="/signin">SignIn</button>
            <button class="btn btn-outline-success signin" onclick="document.getElementById('id02').style.display='block'" style="width:auto;" routerLink="/signup">Sign Up</button>
        </div>
    </div>
</nav>